/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 1.3vw;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 0.09765625vw;
	background: #FAFAFA;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {

	font-family: "Times New Roman";
  	src: url("fonts/Times-Roman.ttf") format("truetype");

  }

@font-face {

	font-family: "Univers Next Pro Regular";
	src: url("fonts/UniversNextPro-Regular.ttf") format("truetype");

  }

p {

	font-family: "Times New Roman";
	font-size: 3vw;
	line-height: 3.5vw;
	letter-spacing: .030vw;

}

a {

	font-family: "Univers Next Pro Regular";
	color: #000000;
	letter-spacing: .100vw;
	border-bottom: 0.09765625vw solid #c7c8ca;
    text-decoration: none;

}

a:hover {

	color: #000000;
	cursor: pointer;
	border-bottom: 0.09765625vw solid #000;
	

}

a:active {

	color: #c7c8ca;
	border-bottom: 0.09765625vw solid #c7c8ca;

}