/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #159A3F;
}
.js-mindmap-active a.node {
  background: #159A3F;
  border: 2px solid #FDD02F;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.js-mindmap-active a.node.active {
  padding:5px 10px !important;
  border-width:5px !important;
}
.js-mindmap-active a.node.activeparent {
  padding:5px 10px !important;
  border-width:5px !important;
  background:#0C5C25;
}

img {
  height: auto;
  max-width: 100%; }

figure {
  margin: 0; }

::-webkit-scrollbar {
  display: none; }

/*::-webkit-scrollbar-button {
  background: #159A3F; }

::-webkit-scrollbar-track {
  background: #159A3F; }

::-webkit-scrollbar-track-piece {
  background: #159A3F; }

::-webkit-scrollbar-thumb {
  color: #159A3F; }

::-webkit-scrollbar-corner {
  background: #159A3F;
  display: none; }*/

button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */ }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: black;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-family: "GoldenTypeKT-SmallCaps", "goldentype", serif;
  line-height: 1;
  padding: .2em .6em .5em; }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  color: black;
  background: #666; }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #666; }

.post-edit-link {
  float: right; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }


.menu a:before, .menu a:after {
  color: #BABABA;
  font-family: "GoldenTypeKT-Serif", serif; }
.menu a:after {
  content: ','; }
.menu a:last-child:before {
  content: 'and\0020'; }

.publisher .menu a:after {
  content: ''; }

.categories .menu a:first-child:before {
  content: 'including\0020'; }

.mobilemenu .book-meta a:first-child:after {
  content: '.';
  color: #BABABA;
  font-family: "GoldenTypeKT-Serif", serif; }

.book-meta.open a:first-child:after {
  content: ','; }

.book-meta .menu a:first-child:before {
  content: 'such as\0020'; }

.book-meta .menu a:last-child:after {
  content: '.'; }

.spine-wrapper .menu a:first-child:before {
  content: ''; }
.spine-wrapper .menu a:last-child:before {
  content: 'or\0020'; }
.spine-wrapper .menu a:last-child:after {
  content: ''; }

.spine-wrapper {
  display: none; }

  .spine-wrapper {
    width: 50.01%;
    width: calc(50% + 1px);
    z-index: 99999;
    background-color: #159A3F;
    position: fixed;
    height: 100%;
    overflow: hidden;
    -ms-overflow-style: none;
    display: block; }
    .spine-wrapper.left {
      border-right: 2px solid #FDD02F;
      color: #FDD02F;
      left: -47%;
      left: calc(-50% + 48px);
      -webkit-transition: left .3s ease;
      -moz-transition: left .3s ease;
      transition: left .3s ease; }
      .spine-wrapper.left nav {
        float: right; }
      .spine-wrapper.left:before {
        content: 'Info';
        position: absolute;
        top: 50%;
        right: 0;
        line-height: 2em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.5625em;
        letter-spacing: 0.025em;
        color: #FDD02F;
        text-transform: uppercase;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: 100% 0%;
        -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
        -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-transition: color .3s ease;
        -moz-transition: color .3s ease;
        transition: color .3s ease; }
      .spine-wrapper.left:hover:before {
        color: #159A3F; }
    .spine-wrapper.right {
      border-left: 2px solid #FDD02F;
      color: #FDD02F;
      right: -48%;
      right: calc(-50% + 48px);
      -webkit-transition: right .3s ease;
      -moz-transition: right .3s ease;
      transition: right .3s ease; }
      .spine-wrapper.right:before {
        content: 'Chunes';
        position: absolute;
        top: 50%;
        left: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.5625em;
        letter-spacing: 0.025em;
        color: #FDD02F;
        line-height: 2em;
        text-transform: uppercase;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transition: color .3s ease;
        -moz-transition: color .3s ease;
        transition: color .3s ease; }
      .spine-wrapper.right:hover:before {
        color: #159A3F; }
    .spine-wrapper:hover {
      overflow-y: scroll; }
      .spine-wrapper:hover.right {
        right: 0; }
      .spine-wrapper:hover.left {
        left: 0; }
    .spine-wrapper nav {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      max-width: 30em;
      padding: 24px 72px; }
    .spine-wrapper nav p {

      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.3em;
      letter-spacing: 0.050em;
      line-height: 1.5em;

    }
    .spine-wrapper h1 {
      font-family: inherit;
      color: #FDD02F;
      margin: 0; }
    .spine-wrapper h3 {
      color: #FDD02F;
      font-size: calc(20px + 1vw);
      line-height: calc(24px + 1vw);
      margin-top: 0;
      margin-bottom: 5px; } }
    @media screen and (min-width: 1024px) and (min-width: 800px) {
      .spine-wrapper h3 {
        font-size: 28px;
        line-height: 32px; } }
@media screen and (min-width: 1024px) {
      .spine-wrapper h3 a, .spine-wrapper h3 a:visited {
        font-family: inherit;
        color: #FDD02F; }
        .spine-wrapper h3 a:hover, .spine-wrapper h3 a:visited:hover {
          color: inherit; }
      .spine-wrapper h3:first-child {
        margin-top: 16px; }
    .spine-wrapper p {
      font-size: calc(20px + 1vw);
      line-height: calc(24px + 1vw);
      padding-bottom: 21px; } }
    @media screen and (min-width: 1024px) and (min-width: 800px) {
      .spine-wrapper p {
        font-size: 28px;
        line-height: 32px; } }

.sweet {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.025em;
  color: #159A3F
  margin: 10px;

}

h3 {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  line-height: 2em;

}

::selection {
  
  color: #159A3F;
  background: #FDD02F; /* WebKit/Blink Browsers */

}

::-moz-selection {

  color: #159A3F;
  background: #FDD02F; /* Gecko Browsers */

}

a {

  color: #FDD02F;

}

a:hover {

  text-decoration: none;
  cursor: pointer;

}






